*{padding: 20px;
margin-right: 20px;
margin-left: 20px;
}

.title{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(95, 94, 94);
    color: rgb(195, 206, 38);
}
.lign{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid gray;
}
