<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <link rel="stylesheet" href="{{url_for('static', filename='counter.css')}}">
</head>
<body>
    <div class="page">
        <h1>Counter</h1>
        <h3>{{ session['count'] }} time</h3>
        <a id="buton" href="/">Plus1</a>
        <a id="buton1" href="/plus2">Plus2</a>
        <a id="buton2" href="/destroy_session">Reset</a>
    </div>
</body>
</html>